<h1>This is all about all the bands:</h1>

<p>Add a band to the big band list:</p>

<form action="/bands" method="post">
  <div class='form-group'>
    <label for="name">Band's name:</label>
      <input id="name" name="name" type="text">
    </div>
    <button type="submit" class='btn btn-success'>Add band</button>
</form>


<h3> All the damn bands</h3>
  <ul>
    <% @bands.each() do |band| %>
    <li><a href='/band/<%= band.id %>'><%= band.name %></a></li>
  <% end %>  

<p><a href="/">Return to Main Page</a></p>
