<DOCTYPE!>
<html>
<head>
  <title> Bands and Stuff!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">


</head>
<body>
<nav>
  <a href="/">Home</a>
  -
  <a href="/bands">Add a Venue</a>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
